@import url(../weather/__date/weather__date.css);
@import url(../weather/__dergrees/weather__dergrees.css);
@import url(../weather/__feature/weather__feature.css);
@import url(../weather/__features/weather__features.css);
@import url(../weather/__header/weather__header.css);
@import url(../weather/__list-type/weather__list-type.css);
@import url(../weather/__sky/weather__sky.css);

.weather {
  max-width: 275px;
  width: 100%;
  min-height: 436px;
  /*Обрати внимание на жесткое задание высоты*/
  outline: 1px rgb(0, 0, 0) solid;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, .2);
}