.weather__header {
  width: 100%;
  height: 56px;
  outline: 1px rgb(0, 0, 0) solid;
  background: linear-gradient(to left top, rgba(248, 147, 147, 0.6), rgba(107, 250, 255, 0.6));
  display: flex;
  flex-direction: column;
}